/* Resto de estilos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav1 li, .nav-right li {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav1 li:hover, .nav-right li:hover {
    background-color: #530e0e;
}

.cuerpomenu {
    background-color: #BBE5E1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 100%; /* Ajuste para evitar desbordamientos */
}

.imagen-caja {
    flex: 0 0 auto; /* Para que la caja del logo no crezca */
    width: 100px; /* Ancho deseado para la caja del logo */
    height: auto; /* Altura automática para mantener la proporción */
}

.nav-right {
    margin-left: auto; /* Empujar el nav-right hacia la derecha */
}

.nav1,
.nav-right {
    display: flex; /* Para que los elementos dentro del nav estén en línea */
    align-items: center; /* Para alinear verticalmente los elementos */
}

.nav1 ul,
.nav-right ul {
    list-style: none; /* Eliminar los puntos de la lista */
    margin: 0;
    padding: 0;
}

.nav1 ul li,
.nav-right ul li {
    display: inline;
    margin-right: 20px;
}

.nav1 ul li:last-child,
.nav-right ul li:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último elemento de la lista */
}
.color-text-list{
    color: #000000;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Mostrar los contenidos en línea */
    flex-wrap: wrap; /* Permitir el ajuste de línea */
}

.contenido {
    flex: 1; /* Que los contenidos ocupen el espacio disponible */
    margin: 0 10px; /* Agregar márgenes para separar los contenidos */
    min-width: 200px; /* Ancho mínimo para evitar que los contenidos se colapsen demasiado */
    max-width: 400px; /* Ancho máximo para evitar que los contenidos se extiendan demasiado */
}

#quien-soy {
    background-color: #BBE5E1;
    padding: 10px; /* Añadir relleno al contenido "quien-soy" */
    border-radius: 5px; /* Agregar bordes redondeados */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.imagen {
    max-width: 400px;
    height: auto;
    align-items: center;
    margin: 3%;
}

.image-container {
    max-width: 1100px;
    margin: 45px auto;
    overflow: hidden;
    text-align: center;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
.nav-container {
    display: flex;
    justify-content: center; /* Alinear horizontalmente los elementos */
    align-items: center; /* Alinear verticalmente los elementos */
}

.nav-container .lista1 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Para que los elementos de la lista estén en línea */
    align-items: center; /* Alinear verticalmente los elementos */
}

.nav-container .lista1 li {
    margin-right: 20px;
}

.nav-container .lista1 li:last-child {
    margin-right: 0;
}

.nav-container .logo-li {
    flex-grow: 1; /* Hace que la imagen ocupe todo el espacio disponible */
}

.nav-container .logo {
    max-width: 300px; /* Ajusta el ancho máximo de la imagen según sea necesario */
    height: auto;
}
.nav-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
}
.image-container{
    margin-top: 200px; /* Cambia este valor según sea necesario */
}
.imagen-quien-soy {

    float: left; /* Hace que la imagen se alinee a la izquierda */
    margin-right: 25px; /* Agrega un margen derecho para separar la imagen del texto */
}

.texto-quien-soy {
    margin-top: 6%;
    margin-left: 20px; /* Cambia el valor según sea necesario */
    margin-right: 20px; /* Cambia el valor según sea necesario */
    padding-left: 18px; /* Ajusta el padding izquierdo para que sea ligeramente menor que las márgenes */
    padding-right: 18px; /* Ajusta el padding derecho para que sea ligeramente menor */
    border: 2px solid rgb(0, 0, 0); /* Cambia "blue" al color deseado */
    overflow: hidden; /* Evita que el texto se superponga a la imagen */
}
.contenido-psicoterapia {
    width: 80%; /* Ancho del contenido */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interno */
}
.contenido-gratuito {
    width: 80%; /* Ancho del contenido */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interno */
}
.container {
    width: 100%; /* Cambiar el ancho al 100% */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 2px; /* Espaciado interno */
    display: flex; /* Mostrar los contenidos en línea */
    flex-wrap: wrap; /* Permitir el ajuste de línea */
    height: 600px; /* Cambia el valor a la altura deseada */
}
.imagen-quien-soy {
    float: left;
    margin-top: 90px;
    margin-left: 150px;
    margin-right: 40px; /* Aumenta el margen derecho para separar la imagen del texto */
    width: 40%; /* Ajusta el ancho al 40% del contenedor padre */
    transform: scale(1.5); /* Escala la imagen al 120% cuando se pasa el ratón por encima */
}

.contenido-psicoterapia {
    width: 100%;
    height: 600px;
    background-color: #E8B890;
    display: flex; /* Utiliza flexbox para los elementos dentro del contenedor */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.contenido-psicoterapia > div {
    margin: 0 10px; /* Agrega un margen entre los elementos */
}
.color-precio{
    background-color: #BBE5E1;
}
.imagen-producto {
    max-width: 10px; /* Establece un ancho máximo de 150px para la imagen */
    height: auto; /* Mantiene la altura automática para mantener la proporción */
}
.contenido-psicoterapia > div {
    
    max-width: 200px; /* Ancho máximo para el div contenedor */
    margin: 0 auto; /* Centra horizontalmente el div */
    text-align: center; /* Centra la imagen horizontalmente */
}

.imagen-producto {
    max-width: 200px;
    height: auto;
    align-items: center;
    margin: 3%;
}
.imagen-producto2{
    max-width: 200px;
    height: auto;
    align-items: center;
    margin: 3%;
}
/* Estilos para el calendario */
#calendario {
    padding: 7%;
    margin-top: 5px;
    text-align: center;
    font-size: 18px; /* Aumenta el tamaño de la fuente */
}

#calendario table {
    width: 100%;
    border-collapse: collapse;
}

#calendario th,
#calendario td {
    width: 30px; /* Ancho fijo para las celdas */
    height: 20px; /* Altura fija para las celdas */
    padding: 5px; /* Ajusta el espacio dentro de las celdas */
    border: 1px solid #000000;
    text-align: center; /* Centra el texto horizontalmente */
}

#calendario th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#calendario td {
    background-color: #fff;
}

#calendario td.current-day {
    background-color: lightblue;
}

#calendario td:hover {
    background-color: #f0f0f0;
}
.producto{
    padding: 2%;
    border: 2px solid rgb(0, 0, 0); /* Cambia "blue" al color deseado */    
    height: 400px; /* Ajusta la altura según sea necesario */
}
.contenido-caja-calendario{
    padding: 20px; /* Aumenta el padding para dar más espacio al botón */
    
}
.caja-boton-cale{
    background-color: #BA8C75;
    padding: 8px 8px; /* Aumenta el padding del botón */
    margin-left: 68px; /* Ajusta el margen izquierdo del botón */
    font-size: 15px; /* Ajusta el tamaño de la fuente del botón */
    text-align: center; /* Centra el texto dentro del botón */
    width: 100%; /* El contenido ocupa todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    border-radius: 20px; /* Hace que los bordes del botón sean redondos */
    font-weight: bold;
}
.contenido-psicoterapia {
    position: relative; /* Añade posición relativa al contenedor padre */
}

.agenda-gratis {
    position: absolute;
    bottom: 0;
    left: 30%;
    transform: translateX(-40%);
    transform: translateY(-20px); /* Mueve el elemento hacia arriba 20px */
    width: 100%; /* Ajusta el ancho del botón */
    text-align: center;
    margin-bottom: 20px; /* Añade un margen inferior para separarlo del contenido superior */
    
}
.agenda-gratis-btn {
    background-color: #BA8C75;
    padding: 7px 8px; /* Aumenta el padding del botón */
    width: 2000px; /* Ancho automático */
    min-width: 500px; /* Ancho mínimo */
    max-width: 900px; /* Ancho máximo */
    text-align: center;
    border-radius: 20px; /* Hace que los bordes del botón sean redondos */
    font-weight: bold;
    font-size: 16px; /* Ajusta el tamaño de la fuente del botón */
}

