@media only screen and (max-width: 768px) {
    .cuerpomenu {
        flex-direction: column;
        text-align: center;
    }
    .nav-right {
        float: none;
        margin-top: 10px;
    }
}

/* Resto de estilos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav1 li, .nav-right li {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav1 li:hover, .nav-right li:hover {
    background-color: #eee;
}

.cuerpomenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagen-caja {
    flex: 1;
}

.lista1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista1 li {
    display: inline;
    margin-right: 20px;
}

.lista1 li:last-child {
    margin-right: 0;
}
.lista1 li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px; /* Ajusta el espaciado interno */
    border-radius: 5px;
}
.lista1 li a:hover {
    color: rgb(207, 106, 11);
    background-color: #eee;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(207, 106, 11);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.contenido {
    background-color: #fff;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
#quien-soy{
    background-color: #BBE5E1
    ;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

.imagen {
    max-width: 300px;
    height: auto;
    align-items: center;
    margin: 3%;
}
 
.image-container {
    max-width: 1100px; /* Ancho máximo de la caja */
    margin: 45px auto; /* Centra la caja horizontalmente */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el ancho máximo */
    text-align: center; /* Centra la imagen dentro de la caja */
}

.image-container img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
    display: block; /* Evita que la imagen tenga espacio extra debajo */
}

.image-container img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
    display: block; /* Evita que la imagen tenga espacio extra debajo */
}

#quien-soy a,
#PSICOTERAPIA a {
    background-color: rgb(207, 106, 11); /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto a blanco */
    padding: 10px 15px; /* Ajusta el espaciado interno */
    border-radius: 8px; /* Añade bordes redondeados */
}
