/* Resto de estilos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav1 li, .nav-right li {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav1 li:hover, .nav-right li:hover {
    background-color: #eee;
}

.cuerpomenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 100%; /* Ajuste para evitar desbordamientos */
}

.imagen-caja {
    flex: 0 0 auto; /* Para que la caja del logo no crezca */
    width: 100px; /* Ancho deseado para la caja del logo */
    height: auto; /* Altura automática para mantener la proporción */
}

.nav-right {
    margin-left: auto; /* Empujar el nav-right hacia la derecha */
}

.nav1,
.nav-right {
    display: flex; /* Para que los elementos dentro del nav estén en línea */
    align-items: center; /* Para alinear verticalmente los elementos */
}

.nav1 ul,
.nav-right ul {
    list-style: none; /* Eliminar los puntos de la lista */
    margin: 0;
    padding: 0;
}

.nav1 ul li,
.nav-right ul li {
    display: inline;
    margin-right: 20px;
}

.nav1 ul li:last-child,
.nav-right ul li:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último elemento de la lista */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Mostrar los contenidos en línea */
    flex-wrap: wrap; /* Permitir el ajuste de línea */
}

.contenido {
    flex: 1; /* Que los contenidos ocupen el espacio disponible */
    margin: 0 10px; /* Agregar márgenes para separar los contenidos */
    min-width: 200px; /* Ancho mínimo para evitar que los contenidos se colapsen demasiado */
    max-width: 400px; /* Ancho máximo para evitar que los contenidos se extiendan demasiado */
}

#quien-soy {
    background-color: #BBE5E1;
    padding: 10px; /* Añadir relleno al contenido "quien-soy" */
    border-radius: 5px; /* Agregar bordes redondeados */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.imagen {
    max-width: 300px;
    height: auto;
    align-items: center;
    margin: 3%;
}

.image-container {
    max-width: 1100px;
    margin: 45px auto;
    overflow: hidden;
    text-align: center;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
.nav-container {
    display: flex;
    justify-content: center; /* Alinear horizontalmente los elementos */
    align-items: center; /* Alinear verticalmente los elementos */
}

.nav-container .lista1 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Para que los elementos de la lista estén en línea */
    align-items: center; /* Alinear verticalmente los elementos */
}

.nav-container .lista1 li {
    margin-right: 20px;
}

.nav-container .lista1 li:last-child {
    margin-right: 0;
}

.nav-container .logo-li {
    flex-grow: 1; /* Hace que la imagen ocupe todo el espacio disponible */
}

.nav-container .logo {
    max-width: 300px; /* Ajusta el ancho máximo de la imagen según sea necesario */
    height: auto;
}
.nav-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
}
.image-container{
    margin-top: 200px; /* Cambia este valor según sea necesario */
}
.imagen-quien-soy {
    float: left; /* Hace que la imagen se alinee a la izquierda */
    margin-right: 20px; /* Agrega un margen derecho para separar la imagen del texto */
}

.texto-quien-soy {
    overflow: hidden; /* Evita que el texto se superponga a la imagen */
}
.contenido-psicoterapia {
    width: 80%; /* Ancho del contenido */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interno */
}
.contenido-gratuito {
    width: 80%; /* Ancho del contenido */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interno */
}


